XSD/Autor.xsd

<?xml version="1.0" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="Autor" type="autor"/>

  <xs:complexType name="autor">
    <xs:sequence>
      <xs:element name="_id" type="xs:long"/>
      <xs:element name="_nome" type="xs:string" minOccurs="0"/>
      <xs:element name="_sobrenome" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

